/*	<576px col	*/
/*	<576px col	*/

/*	>=576px col-sm	*/
@media(max-width: 576px)
{
	.my_blog_title span
	{
		/* font-size: 52px; */
		width: 100%;
		overflow: hidden;
	}
}
/*	>=576px col-sm	*/

/*	>=768px col-md	*/
@media(max-width: 768px)
{
	.content
	{
		padding-left: 0px;
	}
}
/*	>=768px col-md	*/